.center{
	margin: auto;
	width: 50%;
	padding: 10px;
}

.writeableBlock
{
  width: 26px;
  height: 26px;
}

.across-clue-column {
  float: Left;
  width: 300px;
}

.down-clue-column {
  float: Left;
  width: 300px;
}

/* Clear floats after the columns */
.Clues:after {
  content: "";
  display: table;
  clear: both;
}

.numLabel
{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: -20px;
  top: -11px;
  font-size: 10px;
  margin-left: -6px;
}

.numLabelTwoDigit
{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: -15px;
  top: -11px;
  font-size: 10px;
  margin-left: -12px;
}
