input {
	font-size: 17px;
	font-family: cursive;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
	overflow:hidden;
}

.center
{
	margin: auto;
	width: 50%;
	padding: 10px;
}

.title {
	margin-left: 40px;
}

.writeableBlock
{
  width: 26px;
  height: 26px;
}

.hintNumBlock
{
  width: 8px;
  height: 8px;
}

.across-clue-column {
  float: Left;
  width: 300px;
}

.down-clue-column {
  float: Left;
  width: 300px;
}

/* Clear floats after the columns */
.Clues:after {
  content: "";
  display: table;
  clear: both;
}

.numLabel
{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: -22px;
  top: -12px;
  font-size: 10px;
  margin-left: -6px;
}

.numLabelTwoDigit
{
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: -17px;
  top: -12px;
  font-size: 10px;
  margin-left: -12px;
}
